@tailwind base;
@tailwind components;
@tailwind utilities;



.carComponent { 
    filter: blur(0px);
    transition: all 200ms;
}
.carComponentBlur { 
    filter: blur(5px) grayscale(10%);
}

body, html { 
    background-color: #1F1F1F;
}

.navbarButton { 
    width: 0;
    transition: all 250ms ease-out;
}

.navbarButton.hover { 
    width: 100%;
}

.blurBackground { 

    animation: blurBackgroundAnimation;
    animation-delay: 200ms;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}


.baseImage { 
    scale: 100%;
    transition: all 200ms ease-out;
}

.baseImage.hover { 
    scale: 102%;
}

@keyframes blurBackgroundAnimation { 
    from {
        filter: brightness(100%) blur(0px) grayscale(0%);
    }
    to {filter:  brightness(50%) blur(5px) grayscale(12%)}
}


.imageGallery::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.imageGallery {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  transition: all 100ms ease-out;
  scale: 100%;
}

.scaleDownImageGallery { 
    scale: 95%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input { 
    outline: none;

}